/* TEXT */
.text-white {
  color: var(--primary-white);
}
.text-corol {
  color: var(--primary-light-corol);
}
.text-blue {
  color: var(--secundary-rapture-blue);
}
.text-center {
  text-align: center;
  margin: 0 auto;
}
/*  */
.mb-21 {
  margin-bottom: 8.4rem;
}
.mb-20 {
  margin-bottom: 8rem;
}
.mb-14 {
  margin-bottom: 5.6rem;
}
.mb-12 {
  margin-bottom: 4.8rem;
}
.mb-4 {
  margin-bottom: 1.6rem;
}
.mb-2 {
  margin-bottom: 0.8rem;
}
.mb-05 {
  margin-bottom: 0.2rem;
}
.gap-10 {
  gap: 4rem;
}
/* flex */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.just-space {
  justify-content: space-between;
}
.item-cen {
  align-items: center;
}
.br-50 {
  border-radius: 50%;
  border: 2px solid #c4fffe;
}
